*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Space Grotesk Regular';
    font-size: rem-calc(16);
}

.hero-image {
    padding-top: rem-calc(120);
    background: $irisBlue url('/assets/images/girl-at-desk.svg') no-repeat center right 20%;
    height: rem-calc(1420);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    max-width: rem-calc(1440);
    width: 100%;
    p, h1 {
        margin: 0;
    }
    p {
        font-size: rem-calc(20);
    }
    h1 {
        margin: rem-calc(15) 0;
    }
}

a {
    text-decoration: none;
    transition: all linear .3s;
}

img {
    max-width: 100%;
    display: block;
}