.button {
    padding: rem-calc(14) rem-calc(25);
    font-family: 'Space Grotesk Bold';
    font-size: rem-calc(20);
    font-weight: normal;
    transform: perspective(1px) translateZ(0);
    &-arrow {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: rem-calc(8);
    }
    span {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 0;
            height: 1px;
            transition: ease-out right 0.3s;
        }
    }
    &-dark {
        background: $onyx;
        color: $white;
        span {
            &::before {
                background: $white;
            }
        }
    }
    &-light {
        background: $white;
        color: $onyx;
        span {
            &::before {
                background: $onyx;
            }
        }
    }
    svg {
        transition: ease-out transform .1s;
    }
    &:hover {
        span {
            &::before {
                right: 0;
            }
        }
        > svg {
            transform: translateX(4px) rotate(-45deg);
        }
    }
}