.button {
    padding: rem-calc(14) rem-calc(25);
    display: block;
    color: $onyx;
    &-arrow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: rem-calc(8);
        &-dark {
            background: $onyx;
            color: $white;
        }
    }
}